/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and default font settings */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  .header-banner {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .text-main-content {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .blk-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
  }
  
  .blk-title:hover {
    text-decoration: underline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Footer styles */
  footer {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Error message styles */
  .error-content {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center;
  }
  


  #iq4pg {
    position:relative;
    float:none;
    width:auto;
    font-size:120%;
    text-align:center;
    max-width:auto;
    min-height:auto;
    margin:3% 3% 3px 3%;
    font-family:Courier New,Courier,monospace;
    font-weight:100;
    color:#ada8c9;
    align-self:auto;
    opacity:1;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#201919 0%,#201919 100%);
 }
 
 #ihu6lw {
    color:#4da493;
 }
 .gjs-link {
    vertical-align:top;
    max-width:100%;
    display:inline-block;
    text-decoration:none;
    color:inherit;
 }