* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;  
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat:repeat-y, no-repeat;
  background-size:contain, cover;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.footer-under{
  background-color:#312833;
  padding-bottom:100px;
  padding-top:100px;
  min-height:500px;
  color:#eee;
  position:relative;
  font-weight:100;
  font-family:Helvetica,serif;
}
#iayo{
  float:none;
  font-family:Arial, Helvetica, sans-serif;
  opacity:0.96;
  border-radius:0% 0% 0% 0%;
  transition:width 2s ease;
  color:#a18484;
  background-repeat:repeat-y, no-repeat;
  background-position:left top, center center;
  background-attachment:scroll, scroll;
  background-size:contain, cover;
  padding:1% 1% 1% 1%;
  background-color:rgb(20,19,19);
}
#i86p{
  position:relative;
}
#iocrg{
  position:relative;
  float:none;
  width:auto;
  font-size:300%;
  text-align:center;
  max-width:auto;
  min-height:auto;
  margin:3% 3% 3px 3%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  letter-spacing:4%;
  color:#ada8c9;
  line-height:60%;
  text-decoration:none;
  align-self:auto;
}
#ifv4ah{
  color:#622121;
  float:none;
  display:block;
  position:static;
  top:auto;
  bottom:auto;
  right:auto;
  left:auto;
  min-height:auto;
  height:auto;
  width:auto;
  padding:1% 0px 2% 0px;
  font-family:Courier New, Courier, monospace;
  font-weight:200;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
}
#iha5j{
  color:#fefefe;
}
#iq4pg{
  position:relative;
  float:none;
  width:auto;
  font-size:120%;
  text-align:center;
  max-width:auto;
  min-height:auto;
  margin:3% 3% 3px 3%;
  font-family:Courier New, Courier, monospace;
  font-weight:100;
  color:#ada8c9;
  align-self:auto;
  opacity:1;
}
#iusvp{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:block;
  position:relative;
  padding:5% 0px 8% 0px;
}
#ixpll{
  display:flex;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  position:relative;
  margin:2% 2% 0px 2%;
  flex-direction:row;
  justify-content:space-between;
  top:2%;
}
#idsul{
  opacity:1;
  font-size:140%;
  color:#cea8ff;
  text-align:center;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#ic1i6k{
  font-size:100%;
  color:#000000;
  text-align:justify;
}
#iz656k{
  float:left;
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
}
.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
#i194ej{
  opacity:1;
  font-size:140%;
  color:#cea8ff;
  text-align:center;
  position:relative;
  margin:0px 2% 0px 2%;
  display:flex;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
}
#i7c1qe{
  float:left;
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
}
#text_min_obs_time{
  opacity:1;
  font-size:140%;
  color:#00ff5e;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
  flex-direction:column;
}
#label_min_obs_time{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
  width:30%;
}
#i4b1u7{
  color:#fdfdfd;
  align-self:stretch;
  line-height:150%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  display:flex;
  flex-direction:row;
  position:relative;
}
#it4nk{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:left;
  display:inline;
  position:relative;
  margin:0px 7% 0px 2%;
  width:30%;
}
#ilxsg{
  color:#fdfdfd;
  align-self:stretch;
  line-height:100%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  display:flex;
  flex-direction:row;
  position:relative;
}
#i8con{
  color:#00ff5e;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  font-size:140%;
  border:4px groove #ff8200;
  flex-direction:column;
  position:relative;
  float:left;
}
#iph0e{
  opacity:1;
  font-size:140%;
  color:#cea8ff;
  text-align:center;
  display:inline-block;
  position:relative;
  margin:0px 2% 0px 2%;
}
#iu6sg{
  font-size:100%;
  color:#000000;
  text-align:justify;
}
#ine3o{
  float:left;
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
}
#ihu6lw{
  color:#4da493;
}
#ivtbjj{
  opacity:1;
  font-size:140%;
  color:#cea8ff;
  text-align:center;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#iixr7f{
  font-size:100%;
  color:#000000;
  text-align:justify;
}
#i40fux{
  float:left;
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
}
#label_spk_id{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#text_spk_id{
  opacity:1;
  font-size:140%;
  color:#16df39;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#i0b5qd{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
  opacity:0.75;
}
#label_mpc_id{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#text_mpc_id{
  opacity:1;
  font-size:140%;
  color:#16df39;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#ipdbah{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
  opacity:0.75;
}
#i44n1g{
  color:#fdfdfd;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  position:relative;
  flex-direction:column;
  bottom:5%;
}
#label_main_desig{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#text_main_desig{
  opacity:1;
  font-size:140%;
  color:#ff6000;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#iqxjv8{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
}
#label_alt_desig{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#text_alt_desig{
  opacity:1;
  font-size:140%;
  color:#16df39;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#i1w8c1{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
  opacity:0.75;
}
#itawfu{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  display:inline;
  position:relative;
  opacity:1;
}
#ioyd5h{
  opacity:1;
  font-size:140%;
  color:#cea8ff;
  text-align:center;
  display:inline-block;
  position:relative;
  margin:0px 2% 0px 2%;
}
#ijnzob{
  font-size:100%;
  color:#000000;
  text-align:justify;
}
#ixb1wg{
  float:left;
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  border:0 solid #000000;
}
#label_image_count{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#text_image_count{
  opacity:1;
  font-size:140%;
  color:#dff400;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
}
#i3kqf7{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
}
#iq4xfs{
  color:#aa3333;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#7e9f86 0%, #7e9f86 100%);
  display:block;
  position:relative;
  top:5%;
  margin:0.2% 2% 0px 2%;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}
#label_spk_orbit_versions{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  margin:0px 2% 0px 2%;
  width:17%;
  position:relative;
}
#ilvuta{
  color:#fdfdfd;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
  opacity:0.75;
}
#idrxpq{
  font-size:120%;
  color:#16df39;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#454141 0%, #454141 100%);
  margin:0px 2% 0px 2%;
}
#label_max_obs_time{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:right;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
  width:30%;
}
#text_max_obs_time{
  opacity:1;
  font-size:140%;
  color:#00ff5e;
  text-align:left;
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
  flex-direction:column;
}
#i1auau{
  color:#fdfdfd;
  align-self:stretch;* {
	box-sizing: border-box;
  }
  body {
	margin: 0;
  }
  *{
	box-sizing:border-box;
  }
  body{
	margin:0;
  }
  .header-banner{
	padding-top:35px;
	padding-bottom:100px;
	color:#ffffff;
	font-family:Helvetica, serif;
	font-weight:100;
	background-attachment:scroll, scroll;
	background-position:left top, center center;
	background-repeat:repeat-y, no-repeat;
	background-size:contain, cover;
  }
  .container-width{
	width:90%;
	max-width:1150px;
	margin:0 auto;
  }
  .footer-under{
	background-color:#312833;
	padding-bottom:100px;
	padding-top:100px;
	min-height:500px;
	color:#eee;
	position:relative;
	font-weight:100;
	font-family:Helvetica,serif;
  }
  #iayo{
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	opacity:0.96;
	border-radius:0% 0% 0% 0%;
	transition:width 2s ease;
	color:#a18484;
	background-repeat:repeat-y, no-repeat;
	background-position:left top, center center;
	background-attachment:scroll, scroll;
	background-size:contain, cover;
	padding:1% 1% 1% 1%;
  }
  #i86p{
	position:relative;
  }
  #iocrg{
	position:relative;
	float:none;
	width:auto;
	font-size:300%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	letter-spacing:4%;
	color:#ada8c9;
	line-height:60%;
	text-decoration:none;
	align-self:auto;
  }
  #ifv4ah{
	color:#622121;
	float:none;
	display:block;
	position:static;
	top:auto;
	bottom:auto;
	right:auto;
	left:auto;
	min-height:auto;
	height:auto;
	width:auto;
	padding:1% 0px 2% 0px;
	font-family:Courier New, Courier, monospace;
	font-weight:200;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
  }
  #iha5j{
	color:#fefefe;
  }
  #iq4pg{
	position:relative;
	float:none;
	width:auto;
	font-size:120%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Courier New, Courier, monospace;
	font-weight:100;
	color:#ada8c9;
	align-self:auto;
	opacity:1;
  }
  #iusvp{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:block;
	position:relative;
	padding:5% 0px 8% 0px;
  }
  #ixpll{
	display:flex;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	position:relative;
	margin:2% 2% 0px 2%;
	flex-direction:row;
	justify-content:space-between;
	top:2%;
  }
  #idsul{
	opacity:1;
	font-size:140%;
	color:#cea8ff;
	text-align:center;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #ic1i6k{
	font-size:100%;
	color:#000000;
	text-align:justify;
  }
  #iz656k{
	float:left;
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  }
  .gjs-row{
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-wrap:nowrap;
	padding:10px;
  }
  #i194ej{
	opacity:1;
	font-size:140%;
	color:#cea8ff;
	text-align:center;
	position:relative;
	margin:0px 2% 0px 2%;
	display:flex;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  }
  #i7c1qe{
	float:left;
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  }
  #text_min_obs_time{
	opacity:1;
	font-size:140%;
	color:#00ff5e;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
	flex-direction:column;
  }
  #label_min_obs_time{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
	width:30%;
  }
  #i4b1u7{
	color:#fdfdfd;
	align-self:stretch;
	line-height:150%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	display:flex;
	flex-direction:row;
	position:relative;
  }
  #it4nk{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:left;
	display:inline;
	position:relative;
	margin:0px 7% 0px 2%;
	width:30%;
  }
  #ilxsg{
	color:#fdfdfd;
	align-self:stretch;
	line-height:100%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	display:flex;
	flex-direction:row;
	position:relative;
  }
  #i8con{
	color:#00ff5e;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	font-size:140%;
	border:4px groove #ff8200;
	flex-direction:column;
	position:relative;
	float:left;
  }
  #iph0e{
	opacity:1;
	font-size:140%;
	color:#cea8ff;
	text-align:center;
	display:inline-block;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #iu6sg{
	font-size:100%;
	color:#000000;
	text-align:justify;
  }
  #ine3o{
	float:left;
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  }
  #ihu6lw{
	color:#4da493;
  }
  #ivtbjj{
	opacity:1;
	font-size:140%;
	color:#cea8ff;
	text-align:center;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #iixr7f{
	font-size:100%;
	color:#000000;
	text-align:justify;
  }
  #i40fux{
	float:left;
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  }
  #label_spk_id{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #text_spk_id{
	opacity:1;
	font-size:140%;
	color:#16df39;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #i0b5qd{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
	opacity:0.75;
  }
  #label_mpc_id{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #text_mpc_id{
	opacity:1;
	font-size:140%;
	color:#16df39;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #ipdbah{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
	opacity:0.75;
  }
  #i44n1g{
	color:#fdfdfd;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	position:relative;
	flex-direction:column;
	bottom:5%;
  }
  #label_main_desig{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #text_main_desig{
	opacity:1;
	font-size:140%;
	color:#ff6000;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #iqxjv8{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
  }
  #label_alt_desig{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #text_alt_desig{
	opacity:1;
	font-size:140%;
	color:#16df39;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #i1w8c1{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
	opacity:0.75;
  }
  #itawfu{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	display:inline;
	position:relative;
	opacity:1;
  }
  #ioyd5h{
	opacity:1;
	font-size:140%;
	color:#cea8ff;
	text-align:center;
	display:inline-block;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #ijnzob{
	font-size:100%;
	color:#000000;
	text-align:justify;
  }
  #ixb1wg{
	float:left;
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	border:0 solid #000000;
  }
  #label_image_count{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #text_image_count{
	opacity:1;
	font-size:140%;
	color:#dff400;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
  }
  #i3kqf7{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
  }
  #iq4xfs{
	color:#aa3333;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#7e9f86 0%, #7e9f86 100%);
	display:block;
	position:relative;
	top:5%;
	margin:0.2% 2% 0px 2%;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
  }
  #label_spk_orbit_versions{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	margin:0px 2% 0px 2%;
	width:17%;
	position:relative;
  }
  #ilvuta{
	color:#fdfdfd;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
	opacity:0.75;
  }
  #idrxpq{
	font-size:120%;
	color:#16df39;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#454141 0%, #454141 100%);
	margin:0px 2% 0px 2%;
  }
  #label_max_obs_time{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:right;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
	width:30%;
  }
  #text_max_obs_time{
	opacity:1;
	font-size:140%;
	color:#00ff5e;
	text-align:left;
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
	flex-direction:column;
  }
  #i1auau{
	color:#fdfdfd;
	align-self:stretch;
	line-height:150%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	display:flex;
	flex-direction:row;
	position:relative;
  }
  #i1rws8{
	opacity:1;
	font-size:140%;
	color:#ffffff;
	text-align:left;
	display:inline;
	position:relative;
	margin:0px 7% 0px 2%;
	width:30%;
	border:0px solid #423b3b;
  }
  #i4emjr{
	color:#00ff5e;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	font-size:140%;
	border:4px groove #ffffff;
	flex-direction:column;
	position:relative;
	float:left;
  }
  #i91kaf{
	color:#fdfdfd;
	align-self:stretch;
	line-height:100%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
	display:flex;
	flex-direction:row;
	position:relative;
  }
  #in5dpb{
	margin:0px 2% 0px 2%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:140%;
	font-weight:100;
	text-align:left;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
  }
  #i5y8{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
  }
  #i4dfc6{
	opacity:1;
	border:0px solid #9d7f7f;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#a5b655 0%, #a5b655 100%);
	color:#000000;
  }
  #ikhkkm{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#1e4639 0%, #1e4639 100%);
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #isyqla{
	opacity:1;
	border:0px solid #9d7f7f;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#a5b655 0%, #a5b655 100%);
	color:#000000;
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #iwov1j{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#3b3030 0%, #3b3030 100%);
  }
  #iihjwy{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#3b3382 0%, #3b3382 100%);
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #is0omh{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#1e4639 0%, #1e4639 100%);
  }
  #iugt05{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#7d3333 0%, #7d3333 100%);
  }
  #inqcjb{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#7d3333 0%, #7d3333 100%);
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #iz18hb{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#3b3030 0%, #3b3030 100%);
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #i7ic0z{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#3b3382 0%, #3b3382 100%);
  }
  #iljrzi{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#565635 0%, #565635 100%);
  }
  #irix5y{
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#565635 0%, #565635 100%);
	font-family:Courier New, Courier, monospace;
	font-size:80%;
  }
  #ikava9{
	color:#c7ef00;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	font-size:150%;
	float:none;
	text-align:left;
	opacity:1;
	display:inline;
	flex-direction:row-reverse;
  }
  #ijq0to{
	color:#c7ef00;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	font-size:150%;
	text-align:left;
	margin:0px 0px 0px 5%;
  }
  #i7p8sb{
	color:#fdfdfd;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	display:flex;
	position:relative;
	flex-direction:row;
	justify-content:space-around;
  }
  #label_filtered_image_count{
	opacity:1;
	font-size:180%;
	color:#7d3222;
	text-align:right;
	font-family:Arial Black, Gadget, sans-serif;
  }
  #text_filtered_image_count{
	opacity:1;
	font-size:180%;
	color:#7d3222;
	text-align:left;
	font-family:Arial Black, Gadget, sans-serif;
  }
  #ivrhsl{
	color:#0c0b0b;
	align-self:stretch;
	line-height:200%;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#7e9f86 0%, #7e9f86 100%);
	display:flex;
	position:relative;
	margin:0px 2% 0px 2%;
	justify-content:center;
	flex-direction:row;
  }
  #i4uzvk{
	color:#c7ef00;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	font-size:150%;
	float:none;
	text-align:left;
	opacity:1;
	margin:0px 0px 0px 5%;
  }
  #ihd0gk{
	color:#c7ef00;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%, #201919 100%);
	font-size:150%;
	float:none;
	text-align:left;
	opacity:1;
	margin:0px 0px 0px 5%;
  }
  @media (max-width: 768px){
	.gjs-row{
	  flex-wrap:wrap;
	}
  }
  
  line-height:150%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  display:flex;
  flex-direction:row;
  position:relative;
}
#i1rws8{
  opacity:1;
  font-size:140%;
  color:#ffffff;
  text-align:left;
  display:inline;
  position:relative;
  margin:0px 7% 0px 2%;
  width:30%;
  border:0px solid #423b3b;
}
#i4emjr{
  color:#00ff5e;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  font-size:140%;
  border:4px groove #ffffff;
  flex-direction:column;
  position:relative;
  float:left;
}
#i91kaf{
  color:#fdfdfd;
  align-self:stretch;
  line-height:100%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#423b3b 0%, #423b3b 100%);
  display:flex;
  flex-direction:row;
  position:relative;
}
#in5dpb{
  margin:0px 2% 0px 2%;
  font-family:Arial, Helvetica, sans-serif;
  font-size:140%;
  font-weight:100;
  text-align:left;
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
}
#i5y8{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
}
#i4dfc6{
  opacity:1;
  border:0px solid #9d7f7f;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#a5b655 0%, #a5b655 100%);
  color:#000000;
}
#ikhkkm{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#1e4639 0%, #1e4639 100%);
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#isyqla{
  opacity:1;
  border:0px solid #9d7f7f;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#a5b655 0%, #a5b655 100%);
  color:#000000;
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#iwov1j{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#3b3030 0%, #3b3030 100%);
}
#iihjwy{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#3b3382 0%, #3b3382 100%);
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#is0omh{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#1e4639 0%, #1e4639 100%);
}
#iugt05{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#7d3333 0%, #7d3333 100%);
}
#inqcjb{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#7d3333 0%, #7d3333 100%);
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#iz18hb{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#3b3030 0%, #3b3030 100%);
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#i7ic0z{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#3b3382 0%, #3b3382 100%);
}
#iljrzi{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#565635 0%, #565635 100%);
}
#irix5y{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#565635 0%, #565635 100%);
  font-family:Courier New, Courier, monospace;
  font-size:80%;
}
#ikava9{
  color:#c7ef00;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  font-size:150%;
  float:none;
  text-align:left;
  opacity:1;
  display:inline;
  flex-direction:row-reverse;
}
#ijq0to{
  color:#c7ef00;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  font-size:150%;
  text-align:left;
  margin:0px 0px 0px 5%;
}
#i7p8sb{
  color:#fdfdfd;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  display:flex;
  position:relative;
  flex-direction:row;
  justify-content:space-around;
}
#label_filtered_image_count{
  opacity:1;
  font-size:180%;
  color:#7d3222;
  text-align:right;
  font-family:Arial Black, Gadget, sans-serif;
}
#text_filtered_image_count{
  opacity:1;
  font-size:180%;
  color:#7d3222;
  text-align:left;
  font-family:Arial Black, Gadget, sans-serif;
}
#ivrhsl{
  color:#0c0b0b;
  align-self:stretch;
  line-height:200%;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#7e9f86 0%, #7e9f86 100%);
  display:flex;
  position:relative;
  margin:0px 2% 0px 2%;
  justify-content:center;
  flex-direction:row;
}
#i4uzvk{
  color:#c7ef00;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  font-size:150%;
  float:none;
  text-align:left;
  opacity:1;
  margin:0px 0px 0px 5%;
}
#ihd0gk{
  color:#c7ef00;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#201919 0%, #201919 100%);
  font-size:150%;
  float:none;
  text-align:left;
  opacity:1;
  margin:0px 0px 0px 5%;
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
