* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.header-banner {
	padding-top:35px;
	padding-bottom:100px;
	color:#ffffff;
	font-family:Helvetica,serif;
	font-weight:100;
	background-image:url("https://grapesjs.com/img/bg-gr-v.png"),url("https://grapesjs.com/img/work-desk.jpg");
	background-attachment:scroll,scroll;
	background-position:left top,center center;
	background-repeat:repeat-y,no-repeat;
	background-size:contain,cover;
}
.container-width {
	width:90%;
	max-width:1150px;
	margin:0 auto;
}
.blk-title {
	color:#fff;
	font-size:25px;
	text-align:center;
	margin-bottom:15px;
}
.blk-desc {
	color:#b1b1b1;
	font-size:15px;
	text-align:center;
	max-width:700px;
	margin:0 auto;
	font-weight:100;
}
#iayo {
	float:none;
	font-family:Arial,Helvetica,sans-serif;
	opacity:0.96;
	border-radius:0% 0% 0% 0%;
	transition:width 2s ease;
	color:#a18484;
	background-repeat:repeat-y,no-repeat;
	background-position:left top,center center;
	background-attachment:scroll,scroll;
	background-size:contain,cover;
	background-image:linear-gradient(#201919 0%,#201919 100%),url("https://grapesjs.com/img/work-desk.jpg");
	padding:1% 1% 1% 1%;
}
#i86p {
	position:relative;
}
#iocrg {
	position:relative;
	float:none;
	width:auto;
	font-size:300%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:700;
	letter-spacing:4%;
	color:#ada8c9;
	line-height:60%;
	text-decoration:none;
	align-self:auto;
}
#ifv4ah {
	color:#622121;
	float:none;
	font-family:Courier New,Courier,monospace;
	font-weight:200;
}
#iha5j {
	color:#fefefe;
}
#iq4pg {
	position:relative;
	float:none;
	width:auto;
	font-size:120%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Courier New,Courier,monospace;
	font-weight:100;
	color:#ada8c9;
	align-self:auto;
	opacity:1;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%,#201919 100%);
}
#ix54e {
	font-size:200%;
	color:rgba(149,235,106,1);
	font-family:Arial,Helvetica,sans-serif;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(rgba(92,87,87,1) 1%,rgba(92,87,87,1) 100%);
	position:relative;
	display:inline-block;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
}
#i2oyf {
	text-align:center;
	max-width:auto;
	width:auto;
	display:block;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
}
#ifpsk {
	font-size:200%;
	color:#ffffff;
	text-align:center;
}
#iusvp {
	padding:5% 0px 5% 0px;
	position:relative;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(#201919 1%,#201919 100%);
}
#ihu6lw {
	color:#4da493;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
#iau9 {
	background-color:rgb(32,25,25);
}
#ip8rx {
	max-width:auto;
	width:auto;
	display:inline;
	margin:5% 0px 0px 0px;
	align-items:stretch;
}
#i6lch {
	font-size:120%;
	margin:2% auto 0px auto;
	max-width:auto;
}
#text_error {
	font-size:170%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Courier New,Courier,monospace;
	color:rgba(221,173,0,1);
	text-align:left;
	border-top-style:dotted;
	border-right-style:dotted;
	border-bottom-style:dotted;
	border-left-style:dotted;
}
#link_astrometry {
	font-size:200%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Arial Black,Gadget,sans-serif;
	color:rgba(250,62,11,1);
	text-decoration:underline;
}
#link_abso_phot {
	font-size:200%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Arial Black,Gadget,sans-serif;
	color:rgba(239,183,255,1);
	text-decoration:underline;
}
#link_diff_phot {
	font-size:200%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Arial Black,Gadget,sans-serif;
	color:rgba(85,186,205,1);
	text-decoration:underline;
}
#link_images {
	font-size:200%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Arial Black,Gadget,sans-serif;
	color:rgba(64,195,0,1);
	text-decoration:underline;
}
#link_v_r {
	font-size:200%;
	margin:2% auto 0px auto;
	max-width:auto;
	font-family:Arial Black,Gadget,sans-serif;
	color:rgba(192,204,84,1);
	text-decoration:underline;
}
