* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.header-banner {
	padding-top:35px;
	padding-bottom:100px;
	color:#ffffff;
	font-family:Helvetica,serif;
	font-weight:100;
	background-attachment:scroll,scroll;
	background-position:left top,center center;
	background-repeat:repeat-y,no-repeat;
	background-size:contain,cover;
}
.container-width {
	width:90%;
	max-width:1150px;
	margin:0 auto;
}
.blk-title {
	color:#fff;
	font-size:25px;
	text-align:center;
	margin-bottom:15px;
}
#iayo {
	float:none;
	font-family:Arial,Helvetica,sans-serif;
	opacity:0.96;
	border-radius:0% 0% 0% 0%;
	transition:width 2s ease;
	color:#a18484;
	background-repeat:repeat-y,no-repeat;
	background-position:left top,center center;
	background-attachment:scroll,scroll;
	background-size:contain,cover;
	padding:1% 1% 1% 1%;
}
#i86p {
	position:relative;
}
#iocrg {
	position:relative;
	float:none;
	width:auto;
	font-size:300%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:700;
	letter-spacing:4%;
	color:#ada8c9;
	line-height:60%;
	text-decoration:none;
	align-self:auto;
}
#ifv4ah {
	color:#622121;
	float:none;
	font-family:Courier New,Courier,monospace;
	font-weight:200;
}
#iha5j {
	color:#fefefe;
}
#iq4pg {
	position:relative;
	float:none;
	width:auto;
	font-size:120%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Courier New,Courier,monospace;
	font-weight:100;
	color:#ada8c9;
	align-self:auto;
	opacity:1;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%,#201919 100%);
}
#iusvp {
	padding:5% 0px 5% 0px;
	position:relative;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(#201919 1%,#201919 100%);
	display:block;
	justify-content:space-between;
	align-items:flex-start;
	padding-top:5%;
}
#ihu6lw {
	color:#4da493;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
#iau9 {
	background-color:rgb(32,25,25);
}
#i2unj {
	text-align:center;
	max-width:auto;
	width:auto;
	display:flex;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	position:relative;
	left:5%;
	right:30%;
	margin-top:0%;
}
#io9sp {
	font-size:200%;
	color:rgba(250,240,10,1);
	text-align:center;
	text-decoration:underline;
	position:relative;
	align-items:flex-start;
	justify-content:flex-end;
}
#iucwq {
	text-align:center;
	max-width:auto;
	width:auto;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	position:relative;
	right:30%;
	margin-top:0%;
	left:5%;
	top:0px;
	display:inline;
}
#ilxeu {
	text-align:center;
	max-width:auto;
	width:auto;
	display:inline;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	position:static;
	left:5%;
	right:30%;
}
#i3a6w {
	text-align:center;
	max-width:auto;
	width:auto;
	display:flex;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	position:relative;
	right:30%;
	margin-top:0%;
	left:5%;
	top:0px;
}
#ir0xy {
	text-align:center;
	max-width:auto;
	width:auto;
	display:flex;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	position:relative;
	right:30%;
	margin-top:0%;
	left:5%;
	top:0px;
}
#vrCompiledValueTable {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex-wrap:wrap;
}
#inqcjb {
	font-family:Courier New,Courier,monospace;
	color:rgba(150,192,24,1);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#i4dfc6 {
	color:rgba(150,192,24,1);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#iugt05 {
	color:rgba(255,126,126,1);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#iz18hb {
	color:rgba(255,126,126,1);
	font-family:Courier New,Courier,monospace;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#iwov1j {
	color:rgba(232,195,195,1);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#iihjwy {
	font-family:Courier New,Courier,monospace;
	color:rgba(229,163,163,1);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#i7ic0z {
	color:rgba(81,191,231,0.89);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#irix5y {
	color:rgba(81,191,231,0.89);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#ig7wbg {
	align-self:center;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-right-radius:1px;
	border-bottom-left-radius:1px;
	border-top-color:rgba(245,253,251,1);
	border-right-color:rgba(245,253,251,1);
	border-bottom-color:rgba(245,253,251,1);
	border-left-color:rgba(245,253,251,1);
}
