* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.header-banner {
	padding-top:35px;
	padding-bottom:100px;
	color:#ffffff;
	font-family:Helvetica,serif;
	font-weight:100;	
	background-attachment:scroll,scroll;
	background-position:left top,center center;
	background-repeat:repeat-y,no-repeat;
	background-size:contain,cover;
}
.container-width {
	width:90%;
	max-width:1150px;
	margin:0 auto;
}
#iayo {
	float:none;
	font-family:Arial,Helvetica,sans-serif;
	opacity:0.96;
	border-radius:0% 0% 0% 0%;
	transition:width 2s ease;
	color:#a18484;
	background-repeat:repeat-y,no-repeat;
	background-position:left top,center center;
	background-attachment:scroll,scroll;
	background-size:contain,cover;
	padding:1% 1% 1% 1%;
}
#i86p {
	position:relative;
}
#iocrg {
	position:relative;
	float:none;
	width:auto;
	font-size:300%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:700;
	letter-spacing:4%;
	color:#ada8c9;
	line-height:60%;
	text-decoration:none;
	align-self:auto;
}
#ifv4ah {
	color:#622121;
	float:none;
	font-family:Courier New,Courier,monospace;
	font-weight:200;
}
#iha5j {
	color:#fefefe;
}
#iq4pg {
	position:relative;
	float:none;
	width:auto;
	font-size:120%;
	text-align:center;
	max-width:auto;
	min-height:auto;
	margin:3% 3% 3px 3%;
	font-family:Courier New,Courier,monospace;
	font-weight:100;
	color:#ada8c9;
	align-self:auto;
	opacity:1;
	background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
	background-size:auto;
	background-image:linear-gradient(#201919 0%,#201919 100%);
}
#ix54e {
	font-size:200%;
	color:rgba(18,216,15,1);
	font-family:Arial,Helvetica,sans-serif;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(rgba(77,76,56,1) 1%,rgba(77,76,56,1) 100%);
	position:relative;
	display:inline-block;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
}
#i2oyf {
	text-align:center;
	max-width:auto;
	width:auto;
	display:inline-block;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	align-items:stretch;
	justify-content:space-evenly;
	margin-top:5%;
}
#iusvp {
	padding:5% 0px 5% 0px;
	position:relative;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(#201919 1%,#201919 100%);
	display:flex;
	flex-direction:column;
	padding-top:2%;
	justify-content:flex-start;
}
#ihu6lw {
	color:#4da493;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
#iau9 {
	background-color:rgb(32,25,25);
}
#iegfi {
	color:rgba(18,216,15,1);
	font-size:200%;
	position:relative;
	right:auto;
	font-family:Courier New,Courier,monospace;
	text-align:right;
}
#i5r6w {
	font-size:200%;
	color:rgba(217,202,15,1);
	font-family:Arial,Helvetica,sans-serif;
	background-repeat:repeat;
	background-position:0px 0px;
	background-attachment:scroll;
	background-size:auto auto;
	background-image:linear-gradient(rgba(74,69,97,1) 1%,rgba(74,69,97,1) 100%);
	position:relative;
	display:inline-block;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
}
#ip0lk {
	color:rgba(217,202,15,1);
	font-size:200%;
	position:static;
	right:auto;
	font-family:Courier New,Courier,monospace;
	text-align:right;
}
#ifky2 {
	text-align:center;
	max-width:auto;
	width:auto;
	display:inline-block;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	align-items:stretch;
	justify-content:space-evenly;
	margin-top:2%;
}
#idvki {
	width:20%;
	color:rgba(23,240,6,1);
	background-color:rgba(188,166,119,0.39);
	font-size:200%;
	position:relative;
	top:120%;
}
#i84cc {
	text-align:center;
	max-width:auto;
	width:auto;
	display:inline;
	margin:5% 0px 0px 0px;
	color:rgba(132,140,28,1);
	align-items:stretch;
	justify-content:space-evenly;
	margin-top:2%;
}
