@(form: Form[forms.AstrometrySolverForm.UserData]
  , version: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("Astrometry solver") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/AstrometrySolverStyle.css")">   
  <meta charset="utf-8" id="ik4j" />
  @* ----------------------------------------------------------------------- *@
  <body id="iau9">
    <header id="iayo" class="header-banner">
        <div id="i86p" class="container-width">
          <div id="iocrg"><span id="iha5j">Astrometry solver with GAIA DR3 indexes<br/></span></div>
        </div>
    </header>
      <section id="iusvp">
          
        <div title="" id="i84cc" class="text-main-content">
          @helper.form(action = routes.AstrometrySolverController.upload                       
                       , Symbol("enctype")  -> "multipart/form-data") {
            @helper.inputFile(form("path")
                              , Symbol("id")     -> "iq4pg"
                              , Symbol("_label") -> "")
            @helper.CSRF.formField            
        </div>

        <div title="" id="ibyje" class="text-main-content"><button type="button" id="iib9z">upload</button></div>
      }        
            
      </section>

      <script>
        document.getElementById('iib9z').addEventListener('click', function(event) {                 
          event.preventDefault();  // Prevent default form submission
          this.form.submit();      // Submit the form
        });
      </script>

    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>           
  </body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@