@(errorMessage: String
, version: String)(implicit request: MessagesRequestHeader)

@main("Error for '@name'") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/ErrorMessageStyle.css")">   
  <meta charset="utf-8" id="ik4j" />
  <body id="iau9">
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
              <div id="iocrg"><span id="iha5j">Error executing last action<br/></span></div>
      </div>
    </header>
    <section id="iusvp">
      <div id="iucwq" class="text-main-content">
        <div id="error-message" class="error-content">@errorMessage</div>
      </div>
    </section>
    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>        
  </body>               
}
