@(fitsVerifierResult:Seq[String]
  , version: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("FITS verifier") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/FitsVerifierResultStyle.css")">   
  <meta charset="utf-8" id="ik4j" />
  @* ----------------------------------------------------------------------- *@
  <body id="iau9">
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
              <div id="iocrg"><span id="iha5j">FITS verifier result<br/></span></div>
      </div>
</header>
    <section id="iusvp">

      <div class="text-main-content" id="iucwq">
        <div class="blk-title" id="io9sp">file:<br/></div>
        <div id="text_fileName">@fitsVerifierResult(0)</div>
      </div>

      <div class="text-main-content" id="ir0xy">
        <div class="blk-title" id="ipl4a">is valid:<br/></div>
        <div id="iqa49">@fitsVerifierResult(1)</div>
     </div>

      <div class="text-main-content" id="i3a6w">
              <div class="blk-title" id="ixiul">errors:<br/></div>
              <div id="text_errors">@fitsVerifierResult(2)</div>
      </div>
      <div class="text-main-content" id="i2unj">
              <div class="blk-title" id="iqoyk">warnigs<br/></div>
              <div id="text_warnings">@fitsVerifierResult(3)</div>
      </div>
      <div class="text-main-content" id="ilxeu">
              <div class="blk-title" id="iz1z7">Log<br/></div>
              <textarea id="i1rle" name="text_area_log">@fitsVerifierResult(4)</textarea>
      </div>
    </section>

    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>           
  </body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@