@(form: Form[forms.UserLoginForm.UserData]
, postUrl: Call
, version: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("m2 web login") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/UserLoginStyle.css")">   
  <meta charset="utf-8" id="im3o" />
  @* ----------------------------------------------------------------------- *@
  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }
  @* ----------------------------------------------------------------------- *@
  <body id="iau9">
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
        <div id="iocrg"><span id="iha5j">m2 web</div>
        </div>        
     </header>

       @helper.form(postUrl) {
        @helper.CSRF.formField

         <section id="iusvp">
           <div id="i2oyf" title="" class="text-main-content">
            <label id="iegfi">name</label>         
            @helper.inputText(form("input_user_name")
            , Symbol("id") -> "ix54e"
            , Symbol("_showConstraints") -> false
            , Symbol("_label") -> ""
            , Symbol("autofocus") -> "autofocus")           
            </div>

            <div title="" class="text-main-content" id="ifky2">
              <label id="ip0lk">passsword</label>
              @helper.inputPassword(form("input_user_password")
                                    , Symbol("id") -> "i5r6w"
                                    , Symbol("_showConstraints") -> false
                                    , Symbol("_label") -> "")
            </div>

            <div title="" class="text-main-content" id="i84cc">
              <button type="button" id="idvki">login</button>
            </div>

            <script>
              document.getElementById('i5r6w').addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                  event.preventDefault();  // Prevent default form submission
                  this.form.submit();      // Submit the form
                }
              });

              document.getElementById('idvki').addEventListener('click', function(event) {                 
                event.preventDefault();  // Prevent default form submission
                this.form.submit();      // Submit the form
              });

            </script>
         </section>
       }
   

    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version:  @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>           
  </body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@