@(version: String
 , userName: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("Main index") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/MainIndexStyle.css")">   
  <meta charset="utf-8" id="ik4j" />
  @* ----------------------------------------------------------------------- *@
  <body id="iau9">
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
              <div id="iocrg"><span id="iha5j">Main index<br/></span></div>
      </div>
    </header>

    <section id="iusvp">

      <div title="" id="ibyje" class="text-main-content">
        <a id="iu30g" href='@controllers.routes.MpoSearchController.index(userName)'>Minor planet object (mpo) data<br/></a>
        <a id="itb94" href='@controllers.routes.FitsVerifierController.index(userName)'>FITS verifier<br/></a>
        <a id="ixonp" href='@controllers.routes.AstrometrySolverController.index(userName)'>Astrometry solver<br/></a>
      </div>

    </section>

    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>           
  </body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@