@(form: Form[forms.MpoInfoForm.UserData]
  , postUrl: Call
  , m2_result:api.m2_api.M2_WebAstrometryResult
  , version: String)(implicit request: MessagesRequestHeader)  
  @* ----------------------------------------------------------------------- *@
  @import java.math.BigInteger; var visibleRowCount = 0;
  @import java.nio.file.Paths
  @* ----------------------------------------------------------------------- *@
@main("mpo info") {  
  @* ----------------------------------------------------------------------- *@
  @* web design using: *@
  @* https://grapesjs.com/demo.html  
  @* ----------------------------------------------------------------------- *@
  @* advanced forms: *@
  @* https://pedrorijo.com/blog/advanced-play-forms/ *@
  @* ----------------------------------------------------------------------- *@

  @* ----------------------------------------------------------------------- *@
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/MpoImageStyle.css")">      
  <body>  
  @* ----------------------------------------------------------------------- *@
  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }
  @* ----------------------------------------------------------------------- *@
  @* ----------------------------------------------------------------------- *@
  @* https://www.playframework.com/documentation/2.8.x/ScalaForms          *@
  @* Set actions and methods                                               *@
  @* It is related with the mapping name definition at related from class  *@
  @* Symbol is the one used when designing with a web design tool as:      *@ 
  @* 'https://grapesjs.com/demo.html' and it is relates with the css       *@
  @* style sheet defined in directory 'public/stylesheets'                 *@
  

  <header id="iayo" class="header-banner">
    <div id="i86p" class="container-width">
      <div id="iocrg"><span id="iha5j">m2 web:</span>images of mpo: '@m2_result.name'</div>
    </div>
  </header>
  <section id="iusvp">
    <div id="i44n1g">
      <div id="iqxjv8">
        <div id="label_main_desig">main designation
          <br/>
        </div>
        <div id="text_main_desig">@m2_result.name
        </div>
      </div>
      <div id="i3kqf7">
        <div id="label_image_count">images stored
          <br/>
        </div>
        <div id="text_image_count">@m2_result.imageCount
        </div>
      </div>
      <div id="i1w8c1">
        <div id="label_alt_desig">alternative designations
          <br/>
        </div>
        <div id="text_alt_desig">@m2_result.altName
        </div>
      </div>
      <div id="ipdbah">
        <div id="label_mpc_id">mpc id
          <br/>
        </div>
        <div id="text_mpc_id">@m2_result.mpcID
        </div>
      </div>
      <div id="i0b5qd">
        <div id="label_spk_id">spk id
          <br/>
        </div>
        <div id="text_spk_id">@m2_result.spkID
        </div>
      </div>
      <div id="ilvuta">
        <div id="label_spk_orbit_versions">spk orbit versions
          <br/>
        </div>
        <select type="text" id="idrxpq" name="select_spk_orbit_versions">
          @for(orbit <- m2_result.orbitSeq) {
            <option value="@orbit">@orbit</option>
          }
        </select>
      </div>
    </div>


    @helper.form(postUrl) {
      @helper.CSRF.formField

     <div id="ixpll">
      <div id="i40fux">
        <div id="ivtbjj">telescope
        </div>
        @helper.select(form("list_telescope")
                        .copy(value=Some(m2_result.statusValueMap("list_telescope")))
                            , options                 = m2_result.telescopeSet.map(t => (t->t))
                            , Symbol("id")            -> "iixr7f")
      </div>
      <div id="ine3o">
        <div id="iph0e">image filter
          <br/>
        </div>
        @helper.select(form("list_image_filter")
                        .copy(value=Some(m2_result.statusValueMap("list_image_filter")))
                       , options                   = m2_result.imageFilterSet.map(t => (t->t))
                       , Symbol("id")              -> "iu6sg")
      </div>
      <div id="iz656k">
        <div id="idsul">instrument
        </div>
         @helper.select(form("list_instrument")
                         .copy(value=Some(m2_result.statusValueMap("list_instrument")))
                        , options                = m2_result.instrumentSet.map(t => (t->t))
                        , Symbol("id")           -> "ic1i6k")
      </div>
      <div id="ixb1wg">
        <div id="ioyd5h">exposure time(s)
          <br/>
        </div>
        @helper.select(form("list_exp_time_s")
                        .copy(value=Some(m2_result.statusValueMap("list_exp_time_s")))
                       , options                   = m2_result.expTimeSet.map(t => (t->t))                      
                       , Symbol("id")             -> "ijnzob")
      </div>
      <div id="i7c1qe">
        <div id="i194ej">observing time
          <br/>
        </div>

        <div id="i4b1u7">
          <div id="label_min_obs_time">min
            <br/>
            <br/>
          </div>
          <div id="text_min_obs_time">@m2_result.minObsTime
            <br/>
          </div>
        </div>
        <div id="i1auau">
          <div id="label_max_obs_time">max
            <br/>
            <br/>
          </div>
          <div id="text_max_obs_time">@m2_result.maxObsTime
            <br/>
          </div>
        </div>
        
        <div id="ilxsg">
          <div id="it4nk">min YYYY-MM-DD
            <br/>
            <br/>
          </div>
           @helper.inputText(form("input_custom_obs_min_time")
             .copy(value=Some(m2_result.statusValueMap("input_custom_obs_min_time")))
          , Symbol("id")               -> "i8con"
          , Symbol("_showConstraints") -> false
          , Symbol("_label")           -> "")            
        </div>
        <div id="i91kaf">
          <div id="i1rws8">max YYYY-MM-DD
            <br/>
            <br/>
          </div>
          @helper.inputText(form("input_custom_obs_max_time")
            .copy(value=Some(m2_result.statusValueMap("input_custom_obs_max_time")))
          , Symbol("id")               -> "i4emjr"
          , Symbol("_showConstraints") -> false
          , Symbol("value")            -> m2_result.statusValueMap("input_custom_obs_max_time")
          , Symbol("_label")           -> "")          
        </div>
      </div>
    </div>

    <div id="ivrhsl">
      <div id="label_filtered_image_count">filtered images count 
      </div>
      <div id="text_filtered_image_count">@m2_result.filteredRowCount
      </div>
    </div>

    <div id="iq4xfs">
      <div id="i7p8sb">        
        <button type="button" id="ijq0to">Reset</button>
        <button type="button" id="i4uzvk">Download images</button>
        <button type="button" id="ihd0gk">Download CSV</button>
        <button type="button" id="ikava9">Filter</button>        
      </div>      
    </div>

    <script>

      document.getElementById('ijq0to').addEventListener('click', function(event) {                 
         window.location.href = '@controllers.routes.MpoImageController.reset()';
      });
      
      document.getElementById('i4uzvk').addEventListener('click', function(event) {
        window.location.href = '@controllers.routes.MpoImageController.downloadImageSeq()';
      });
      
      document.getElementById('ihd0gk').addEventListener('click', function(event) {
        window.location.href = '@controllers.routes.MpoImageController.downloadCsv()';
      });      

      document.getElementById('ikava9').addEventListener('click', function(event) {              
        this.form.submit();      // Submit the form
      });
      
</script>

  }

    <div id="itawfu">
      <div id="in5dpb" class="gjs-row">
        <table id="iiolzp">
          <tbody id="ig7wbg">
            <tr>
              <th>index</th>
              <th id="i4dfc6">file name</th>
              <th id="iugt05">obs time</th>
              <th id="iwov1j">telescope</th>
              <th id="i7ic0z">filter</th>
              <th id="iljrzi">instrument</th>
              <th id="is0omh">exp_time(s)</th>
            </tr>            


            @{visibleRowCount = 0}
            @for((row, index) <- m2_result.rowSeq.zipWithIndex) {
              @if(m2_result.viewRowSeq(index)) {
                <tr>  
                  <td>@{visibleRowCount +=1; visibleRowCount} </td>
                  <td id="isyqla">@Paths.get(row.get("fileName")).getFileName()</td>
                  <td id="inqcjb">@row.get("observing_date")</td>
                  <td id="iz18hb">@row.get("telescope")</td>
                  <td id="iihjwy">@row.get("filter")</td>
                  <td id="irix5y">@row.get("instrument")</td>
                  <td id="ikhkkm">@row.get("exposure_time")</td>
                </tr>
              }
            }
            
          </tbody>
        </table>
      </div>
    </div>


  </section>
  <footer id="ifv4ah">
    <div id="iq4pg">mail:
      rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
      2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
        href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
        class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
  </footer>           
</body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@