@(mpoName: String
  , pngMap:Map[String,String]
  , version: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("mpo phot differential") {  
  @* ----------------------------------------------------------------------- *@
  @* web design using: *@
  @* https://grapesjs.com/demo.html  
  @* ----------------------------------------------------------------------- *@
  @* advanced forms: *@
  @* https://pedrorijo.com/blog/advanced-play-forms/ *@
  @* ----------------------------------------------------------------------- *@

  @* ----------------------------------------------------------------------- *@
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/MpoPhotDiffStyle.css")">      
  @* ----------------------------------------------------------------------- *@
  
  <body id="iau9">
    @* ----------------------------------------------------------------------- *@

    <meta charset="utf-8" id="im3o" />
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
      <div id="iocrg"><span id="iha5j">m2 web:</span>differential photometry</div>
      </div>
    </header>
    
    <section id="iusvp">

      <div id="text_subtitle" class="blk-title">mpo '@mpoName'<br/></div>
      
      <div id="i2oyf" class="text-main-content">
              <a id="link_compressed_data" class="blk-title" href='@controllers.routes.MpoPhotDiffController.downloadData(mpoName)'>all_compressed_data.zip<br/></a>
      </div>
    
     <div class="text-main-content" id="iw5ib">
      <div class="blk-title" id="i8c5d">differential magnitude rotational phase</div>
      <div class="gjs-image-box" id="iknon">
        <img src="@routes.Assets.versioned(pngMap("0"))">
      </div>



    </section>

    <footer id="ifv4ah">
        <div id="iq4pg">mail:
          rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
          2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
            href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
            class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
      </footer>
  </body>
}
@* ------------------------------------------------------------------------- *@