@(form: Form[forms.MpoSearchForm.UserData]
  , postUrl: Call
  , status: MpoSearchControllerStatusMap
  , version: String
  )(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("Search mpo") {  
  @* ----------------------------------------------------------------------- *@
  @* web design using: *@
  @* https://grapesjs.com/demo.html  
  @* ----------------------------------------------------------------------- *@
  @* advanced forms: *@
  @* https://pedrorijo.com/blog/advanced-play-forms/ *@
  @* ----------------------------------------------------------------------- *@

  @* ----------------------------------------------------------------------- *@
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/MpoSearchStyle.css")">      
  @* ----------------------------------------------------------------------- *@
  
  <body id="iau9">
    <meta charset="utf-8" id="im3o" />
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
        <div id="iocrg"><span id="iha5j">m2 web:</span>astrometry database search</div>
      </div>
    </header>
    <section id="iusvp">

  
      <div id="i2oyf">
        <div id="ifpsk" class="blk-title">minor planet object name</div>

        @helper.form(postUrl) {
          @helper.CSRF.formField
        
          @helper.inputText(form("input_mpo_name")
            .copy(value=Some(status.map("mpo_name")._1))            
                             , Symbol("id")               -> "ix54e"
                             , Symbol("_showConstraints") -> false
                             , Symbol("_label")           -> ""
                             , Symbol("autofocus")        -> "autofocus")
          
          <script>
            // JavaScript to handle form submission on option selection
            document.getElementById('ix54e').addEventListener('input', function(event) {
              var input = event.target;
              var list = input.getAttribute('list');
              var options = document.querySelectorAll('#' + list + ' option');
              var hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden');

              input.addEventListener('change', function(event) {
                var value = input.value;
                for (var i = 0; i < options.length; i++) {
                  if (options[i].value === value) {
                    event.preventDefault();
                    this.form.submit(); 
                    break;
                  }
                }
              });
            });
          </script>
        }

        <div class="blk-desc" id="i6lch">main designation, alternative designation, mpc id or spk id<br/></div>
        <div id="ip8rx">                    

          @if(status.map("error_message")._2) {
            <div id="text_error" class="blk-desc">@status.map("error_message")._1<br/></div>
          }

          @if(status.map("link_v_r")._2) {
            <a id="link_v_r" class="blk-desc" href='@controllers.routes.MpoSearchController.vr()'>compiled V-R values<br/></a>  
          }
          
          @if(status.map("link_images")._2) {             
            <a id="link_images" class="blk-desc" href='@controllers.routes.MpoSearchController.images()'>images<br/></a>            
          }  
          
          @if(status.map("link_astrometry")._2) {
            <a id="link_astrometry" class="blk-desc" href='@controllers.routes.MpoSearchController.astrometry()'>compiled data<br/></a>  
          }

          @if(status.map("link_abso_phot")._2) {
            <a id="link_abso_phot" class="blk-desc" href='@controllers.routes.MpoSearchController.absoPhot()'>absolute photometry<br/></a>  
          }

          @if(status.map("link_diff_phot")._2) {
            <a id="link_diff_phot" class="blk-desc" href='@controllers.routes.MpoSearchController.diffPhot()'>differential photometry<br/></a>  
          }    

        </div>

      </div>
    </section>
    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>
  </body>
}
@* ------------------------------------------------------------------------- *@