@(name: String
  , vrResultFileDir:String
  , vrRowSeq:Array[Array[String]]
  , version: String)(implicit request: MessagesRequestHeader)
  @* ----------------------------------------------------------------------- *@
@main("V-R values in compiled database for '@name'") {  
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/MpoVR_Style.css")">   
  <meta charset="utf-8" id="ik4j" />
  @* ----------------------------------------------------------------------- *@
  <body id="iau9">
    <header id="iayo" class="header-banner">
      <div id="i86p" class="container-width">
              <div id="iocrg"><span id="iha5j">V-R values for '@name'<br/></span></div>
      </div>
</header>
    <section id="iusvp">

      <div id="iucwq" class="text-main-content">
        <a id="io9sp" class="blk-title" href='@controllers.routes.MpoVR_Controller.downloadData(name,vrResultFileDir)'>download V-R file<br/></a>
     </div>

      </div>
      <div id="i2unj" class="text-main-content"></div>    
       <div id="iz1z7" class="blk-title">Compiled V-R values<br/></div>


       <table id="vrCompiledValueTable">
        <tbody id="ig7wbg">
                <tr id="imerv">
                        <th id="i4dfc6">database</th>
                        <th id="iugt05">vr</th>
                        <th id="iwov1j">vrError</th>
                        <th id="i7ic0z">reference</th>
                </tr>
                @for(row <- vrRowSeq) {
                  <tr>  
                    <td id="inqcjb">@row(0)</td>
                    <td id="iz18hb">@row(1)</td>
                    <td id="iihjwy">@row(2)</td>
                    <td id="irix5y">@row(3)</td>
                  </tr>
                }
        </tbody>
       </table>          

      </div>
    </section>

    <footer id="ifv4ah">
      <div id="iq4pg">mail:
        rmorales.at.iaa.es<br id="iloh8-2" draggable="true"/><span id="id6m1-2" draggable="true">copyright: </span>IAA-CSIC
        2023<br id="i2hul-2" draggable="true"/>version: @version <br/>Apache License 2.0: <a
          href="https://gitlab.com/rmorales_iaa/m2_web" id="ihu6lw" title="m2_web repo" target="_blank"
          class="gjs-link">https://gitlab.com/rmorales_iaa/m2_web</a></div>
    </footer>           
  </body>               
  @* ----------------------------------------------------------------------- *@
}
@* ------------------------------------------------------------------------- *@